header {
  height: 12%;
  min-height: 50px;
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 6%;
  /* border: solid 3px red; */
}

.head_logo {
  height: 50px;
  width: 50%;

  background-repeat: no-repeat;
}

.head_logo2 {
  background-image: url("../images/TalentPotlogo.svg");
  height: 100%;
  min-width: 168px;
  background-repeat: no-repeat;
}

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-around;
  /* justify-content: end; */
  align-items: center;
}

.navigation-bar {
  width: 50%;
  min-width: 470px;
  flex-direction: row;
  border: solid greenyellow 2px;
}

.nav .nav-item {
  font-size: var(--nav-font-size);
}

.nav .nav-link {
  display: block;
  /* padding: 0.5rem 0; */
  position: relative;
  font-weight: 600;
}

.navigation-bar a:link,
.navigation-bar a:visited {
  text-decoration: none;
  color: #0e1152;
  position: relative;
}
.navigation-bar a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -18px;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: transparent; /* Initially transparent */
  border-radius: 50%;
  transition: background-color 0.2s;
}

.navigation-bar a:hover::after {
  background-color: #f96d28; /* Make the dot orange on hover */
}

.navigation-bar a.exclude-dot::after {
  background-color: transparent; /* Exclude the "exclude-dot" link from the red dot effect */
}

#sub {
  border-radius: 30px;
  width: 100px;
}

.checkbtn {
  font-size: var(--nav-font-size);
  cursor: pointer;
  display: none;
  justify-self: end;
}

#sticks {
  display: none;
}

@media screen and (max-width: 991.98px) {
  .checkbtn {
    display: block;
  }

  .navigation-bar {
    width: 100%;
    position: fixed;
    top: 100px;
    height: 100vh;
    left: 0;
    align-items: center;
    background: red;
    flex-direction: column;
    text-align: center;
  }

  header {
    justify-content: space-between;
  }

  .nav {
    flex-direction: column;
    z-index: 999;
  }

  .nav .nav-link {
    height: 50px;
  }
}
