/* Default font size, color, margin padding */

/* Section 1: Image Background with Headline and Subheadline */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  font-family: "inter", sans-serif;
}

.container {
  height: 100vh;
  background-image: url("../images/landing-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  height: 92%;
  width: 100%;
  padding: 0 80px;
  display: flex;
  align-items: center;
  border: solid 4px red;
}
.main-container-test {
  height: 600px;
  display: flex;
  background-color: aliceblue;
  align-self: center;
  flex-direction: column;
  width: 700px;
  border-radius: 30px;
}
.main-container-test-add {
  height: 1000px;
  display: flex;
  background-color: aliceblue;
  align-self: center;
  flex-direction: row;
  width: 700px;
  border-radius: 30px;
}
.main_text {
  height: 400px;
  display: flex;
  flex-direction: column;
  width: 400px;
  border: solid 2px green;
}

footer {
  width: 100%;
  height: 30px;
  border-top: 1px solid blue;
}
footer p {
  text-align: center;
  margin-top: 10px;
}

.features {
  background-color: skyblue;
  border-radius: 30px;
  height: 600px;
  width: 700px;
  /* padding-top: 48px; */
  /* row-gap: 10px; */
  display: flex;
  flex-direction: column;
}

.odd1img {
  background-image: url(../images/feature4bb.svg);
  background-size: 200px;
  width: 350px;
  background-repeat: no-repeat;
  height: 150px;
}
.odd2img {
  background-image: url(../images/feature2bb.svg);
  background-size: 200px;
  width: 350px;
  background-repeat: no-repeat;
  height: 200px;
}
.evenimg {
  background-image: url(../images/feature3bb.svg);
  background-size: 200px;
  width: 350px;
  margin-left: 200px;
  background-repeat: no-repeat;
  height: 200px;
}
.l {
  margin-right: 300px;
}
.r {
  margin-right: 50px;
}
