/* BRAND
color1: #cdffd8
color2: #94b9ff
Access color: #F96D28 
grey color: #0e1152
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  font-family: "inter", sans-serif;
  color: #0e1152;
}

.container {
  height: 100vh;
  background-image: url("../images/landing-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.main-container {
  position: relative;
  height: 88%;
  width: 100%;
  padding: 0 5%;
  display: flex;
  /* align-items: center; */
  /* border: solid 4px #aeaeae; */
}

.main-container-test-add {
  height: 1000px;
  display: flex;
  background-color: aliceblue;
  align-self: center;
  flex-direction: row;
  width: 700px;
  border-radius: 30px;
}
