@media screen and (max-height: 1200px) {
  .headline {
    margin-top: 20px;
    /* border: solid 1px #e5dbff; */
    font-weight: 700;
    font-size: 4vw;
  }
}

@media screen and (max-height: 700px) {
  .headline {
    margin-top: 20px;
    /* border: solid 1px #e5dbff; */
    font-weight: 700;
    font-size: 30px;
  }
}
.landing-text {
  width: 50%;
  font-weight: 400;
  font-size: 1.5vw;
  margin-bottom: 50px;
  margin-top: 20px;
  /* border: solid 2px yellow; */
  line-height: 1.7;
}

/* button */
.btn:link,
.btn:visited {
  background-color: #f96d28;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

.btn:hover,
.btn:active {
  background-color: #fa7c3e;
}

.btn-big {
  /* width: 50px; */
  padding: 16px 32px;
  margin-bottom: 700px;
  font-weight: 600;
}

.btn--small {
  padding: 8px 16px;
  color: #fff;
}

.btn {
  border-radius: 100px;
}
.add_form {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 300px;
}

.delete_form {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 300px;
}
