@media screen and (max-height: 1200px) {
  .headline {
    margin-top: 20px;
    /* border: solid 1px #e5dbff; */
    font-weight: 700;
    font-size: 3.5vw;
    width: 45%;
    line-height: 1.1;
    letter-spacing: -1px;
  }
}

@media screen and (max-height: 700px) {
  .headline {
    margin-top: 20px;
    /* border: solid 1px #e5dbff; */
    font-weight: 700;
    font-size: 30px;
    width: 45%;
  }
}
.landing-text {
  width: 45%;
  font-weight: 400;
  font-size: 1vw;
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: 18px;
  /* border: solid 2px yellow; */
  line-height: 1.7;
}

/* button */
.btn:link,
.btn:visited {
  background-color: #f96d28;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

.btn:hover,
.btn:active {
  background-color: #fa7c3e;
}

.btn-big {
  padding: 16px 32px;
  font-weight: 600;
}

.btn--small {
  padding: 8px 16px;
  color: #fff;
}

.btn {
  border-radius: 100px;
}
.add_form {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 300px;
}

.delete_form {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 300px;
}

#screen-width {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #000000b0;
}
