/* Default font size, color, margin padding */
body {
  margin: 0px;
  padding: 0px;
  color: #0e1152;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  display: relative;
}

/* Section 1: Image Background with Headline and Subheadline */
.main-container {
  background-image: url("../images/background-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: grid;
  width: 100%;
}
